header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  h1{
    color: royalblue;
  }
  nav{
    display: flex;
    align-items: center;
    gap: 20px;
    a{
      color: #000;
      font-size: 22px;
    }
  }
  button{
    background: royalblue;
    color: #fff;
    padding: 6px 16px;
    border-radius: 5px;
    font-size: 24px;
  }
}